<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <link th:href="@{/css/bootswatch.css}" rel="stylesheet">
    <script th:src="@{js/pwdEqualsConfirmpwd.js}"></script>
    <link rel="icon" href="/images/icon.ico" type="image/png" sizes="16x16">

    <title>Title</title>
</head>
<body>

<br>
<div th:if="${session.email!=null}">
    <center>
        <div class="card border-primary mb-3">
            <h5 class="card-header">Change Password</h5>
            <div class="container-fluid card-body">
                <form action="/resetPassword" method="post" class="form-group">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                            <label>Password*</label>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                            <input type="Password" name="password" id="password" required class="password" />
                        </div>

                        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
                            <label>Confirm Password*</label>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                            <input type="Password" name="confirm-password" id="confirm-password" required class="password"/>
                        </div>
                        <div th:if="${session.updatePwdMsg!=null}">
                            <div th:text="${session.updatePwdMsg}"></div>
                        </div>
                    </div>
                    <div id="pwd-error-msg"></div>
                    <div class="row editprofile-update-btn">
                        <button type="submit" name="update" value="Update" class="btn btn-primary">Change</button>
                    </div>
                </form>

            </div>
        </div>
    </center>
</div>
<div th:unless="${session.email!=null}">
    <script th:inline="javascript">
        window.location.href = "/";
    </script>
</div>

</body>
</html>