<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script th:src="@{/js/checkEmailExistsForInvitation.js}"></script>
    <script th:src="@{/js/topicNameUniquePerUser.js}"></script>
    <script th:src="@{/js/editTopicName.js}"></script>
    <script th:src="@{/js/changeSeriousness.js}"></script>
    <script th:src="@{/js/changeVisibility.js}"></script>
    <link th:href="@{/css/bootswatch.css}" rel="stylesheet">
    <link th:href="@{/css/post.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
    <link rel="icon" href="/images/icon.ico" type="image/png" sizes="16x16">

    <title>Dashboard LinkSharing</title>




</head>
<body>

<div th:if="${session.user!=null}">

    <!------------------------------------NAV---------------------------------------->

    <!--<div th:replace="dashboardHeader.html::header"></div>-->
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary" id="my-nav-bar-dashboard">
        <a class="navbar-brand" id="brand-name-navbar-dashboard" href="/dashboard">Link Sharing</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <form class="form-inline my-2 my-lg-0" id="search-part" action="/searchTopic" method="post">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" id="search-topic-resource"
                       name="topic">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <i class="fa fa-comment nav-link" data-toggle="modal" data-target="#myModal1"
                       title="CreateTopic"></i>
                </li>
                <li class="nav-item">
                    <i class="fa fa-envelope-o nav-link" data-toggle="modal" data-target="#myModal2"
                       title="SendInvitation"></i>
                </li>
                <li class="nav-item">
                    <i class="fa fa-link nav-link" data-toggle="modal" data-target="#myModal3"
                       title="ShareLink"></i>
                </li>
                <li class="nav-item">
                    <i class="fa fa-file-text nav-link" data-toggle="modal" data-target="#myModal4"
                       title="ShareDocument"><!--addNewIcon--></i>
                </li>
                <li class="nav-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 xol-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="true"
                                   aria-expanded="false"><img th:src="@{${session.user.photo}}" class="rounded-circle"
                                                              style="height: 20px;width: 20px;" />
                                    <span th:text="${session.user.username}"></span></a>
                                <div class="dropdown-menu" x-placement="bottom-start"
                                     style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 39px, 0px);">
                                    <a class="dropdown-item" th:href="@{/userProfile/{userId}(userId=${session.user.userId})}">profile</a>
                                    <div th:if="${session.user.isAdmin()}">
                                        <a class="dropdown-item" href="/userList">users</a>
                                    </div>
                                    <a class="dropdown-item" href="/alltopicsPage">topics</a>
                                    <a class="dropdown-item" href="/post">posts</a>
                                    <a class="dropdown-item" href="/logout">logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <br>
    <div class="panel-body bg-warning text-center" th:text="${searcherror}"></div>
    <div class="panel-body bg-warning text-center" th:text="${topicCreatedMsg}"></div>
    <div class="panel-body bg-warning text-center" th:text="${message}"></div>
    <div class="panel panel-body bg-warning text-center" th:text="${postmsg}"></div>
    <!-----------------------------------BODY----------------------------------------->

    <!--CREATE TOPIC-->
    <div class="modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog card border-primary mb-3">
            <div class="modal-content">
                <div class="modal-header card-header">
                    <div class="modal-title card-title">Create Topic</div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body card-body">
                    <form method="post" action="/createtopic">
                        Name:* <input type="text" name="topicname" id="topic-name" placeholder="Topic Name">
                        Visibility:* <select name="visibility">
                        <option value="PUBLIC" name="PUBLIC">Public</option>
                        <option value="PRIVATE" name="PRIVATE">Private</option>
                    </select>
                        <div id="tname-msg"></div>
                        <br><br>
                        <button type="submit">Save</button>
                    </form>
                </div>
                <div class="modal-footer card-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--SEND INVITATION-->
    <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog card border-primary mb-3">
            <div class="modal-content">
                <div class="modal-header card-header">
                    <div class="modal-title card-title">Send Invitation</div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body card-body">
                    <form action="/sendInvitation" method="get" id="invite">

                        Email:* <input id="inviteEmail" type="email" name="receiverMail" placeholder="Email"
                                       style="position:relative;margin-left:40%;">
                        <div class="panel-body bg-warning text-center" id="email-msg"></div>
                        <br><br>
                        Topic:* <select style="position:relative;margin-left:40%;" name="topicId">
                        <option th:each="topic, iterStat : ${privateTopics}"
                                th:text="${topic.topicName}" th:value="${topic.topicId}">Topic
                        </option>
                    </select>
                        <br><br>
                        <button type="submit" style="position:relative; margin-left:48%;">Invite</button>
                    </form>
                </div>
                <div class="modal-footer card-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="myModal22" role="dialog">
        <div class="modal-dialog card border-primary mb-3">
            <div class="modal-content">
                <div class="modal-header card-header">
                    <div class="modal-title card-title">Send Invitation</div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body card-body">
                    <form name="invite" action="/sendInvitation" method="get" id="invite">

                        Email:* <input id="inviteEmail" type="email" name="receiverMail" placeholder="Email"
                                       style="position:relative;margin-left:40%;">
                        <div class="panel-body bg-warning text-center" id="email-msg"></div>
                        <br><br>
                        <input type="text" name="topicId" id="hiddenTopicId" style="" form="invite" />

                        <br><br>
                        <button type="submit" style="position:relative; margin-left:48%;">Invite</button>
                    </form>
                </div>
                <div class="modal-footer card-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <!--SHARE LINK-->
    <div class="modal fade" id="myModal3" role="dialog">
        <div class="modal-dialog card border-primary mb-3">
            <div class="modal-content">
                <div class="modal-header card-header">
                    <div class="modal-title card-title">Share Link</div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form action="#" th:action="@{/createLinkResource}" th:object="${resource}" method="post">
                    <div class="modal-body card-body">
                        Link:*<br> <input type="text" placeholder="Enter link" required name="urlPath"
                                          th:field="*{urlPath}"><br>
                        <br>
                        Description:*<br> <textarea cols="22" rows=3 placeholder="Description" required
                                                    name="description" th:field="*{description}"></textarea><br>
                        <br>
                        Topic:*
                        <select name="resourcetopic" required>
                            <option th:each="topic : ${session.topicSubscribed}" th:value="${topic.topicId}"
                                    th:text="${topic.topicName}" th:title="${topic.getUser().username}">Topic
                            </option>
                        </select>
                        <br><br><br>
                        <button type="submit" class="btn btn-primary">Share</button>
                    </div>
                    <div class="modal-footer card-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!--SHARE DOCUMENT-->
    <div class="modal fade" id="myModal4" role="dialog">
        <div class="modal-dialog card border-primary mb-3">
            <div class="modal-content">
                <div class="modal-header card-header">
                    <div class="modal-title">Share Document</div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form action="#" th:action="@{/createDocumentResource}" th:object="${resource}" method="post"
                      enctype="multipart/form-data">
                    <div class="modal-body">
                        Document:* <br><input type="file" placeholder="Enter file" required name="path">
                        <br><br>
                        Description:* <br><textarea cols="22" rows=3 placeholder="Description" required
                                                    name="description" th:field="*{description}"></textarea>
                        <br><br>
                        Topic:* <select name="resourcetopic" required>
                        <option th:each="topic : ${session.topicSubscribed}" th:value="${topic.topicId}"
                                th:text="${topic.topicName}" th:title="${topic.getUser().username}">Topic
                        </option>
                    </select>
                        <br><br>
                        <button type="submit">Share</button>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!---->

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5">

                <!----------------------------------user details--------------------------------------------------->

                <div class="card border-primary mb-3">
                    <div class="container-fluid dashboard-summary-card">
                        <div class="row dashboard-summary-div-body card-body">
                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 user-img-div">
                                <img th:src="@{${session.user.photo}}" class="user-img">
                            </div>
                            <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                <h4 class="card-title"><span th:text="${session.user.username}"></span></h4>
                                <div class="row">
                                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"
                                         th:text="'@'+${session.user.username}">
                                        @username
                                    </div>
                                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                        <p>Subscription</p>
                                        <p th:text="${session.topicSubscribedCount}">50</p>
                                    </div>
                                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                        <p>Topics</p>
                                        <p th:text="${session.topicsCreatedCount}">30</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!------------------------------subscription-------------------------------------------------------->
                <div id="subscriptions-div">
                    <div class="container-fluid card border-primary mb-3">
                        <div class="row card-header" id="card-header-subscriptions">
                            <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                                <h5>Subscriptions</h5>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
<!--
                                <a href="/showAllSubscribedTopics">View All</a>
-->
                            </div>
                        </div>
                        <br>
                        <div th:each="topic,i : ${session.topicSubscribed}">
                            <div>
                                <form th:action="@{/unsubscribeFromSubscribedTopics}">
                                    <input id="topicId" th:name="topicId" th:value="${topic.topicId}"
                                           style="display: none"/>
                                    <div class="subscriptions-card" th:id="${topic.topicId}">
                                        <div class="row subscriptions-div-body card-body">
                                            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 user-img-div">
                                                <a th:href="@{/userProfile/{userId}(userId=${topic.user.userId})}">
                                                    <img th:src="@{${topic.user.photo}}" class="user-img">
                                                </a>
                                            </div>
                                            <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                                <div class="old-topic-name"
                                                     th:classappend="'old-topic-name'+${topic.topicId}"><a
                                                        th:href="@{topicPage/{id}(id=${topic.topicId})}"
                                                        th:class="'old-topic'+${topic.topicId}"
                                                        th:text="${topic.topicName}">Grails</a></div>
                                                <div class="new-topic-name"
                                                     th:classappend="'new-topic-name'+${topic.topicId}"
                                                     style="display: none">
                                                    <div class="form-inline my-2 my-lg-0">
                                                        <input class="new-topic-name-text form-control mr-sm-2"
                                                               type="text" th:placeholder="${topic.topicName}">
                                                        <div th:class="newtname-msg"></div>
                                                        <button th:topic-id-attr="${topic.getTopicId()}"
                                                                class="save-new-topic-name btn btn-primary my-2 my-sm-0"
                                                                type="button">Save
                                                        </button>
                                                        <button type="button"
                                                                class="close-topic-edit btn btn-primary my-2 my-sm-0">
                                                            Close
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                        <p th:text="${topic.user.username}">@username</p>
                                                        <button th:unless="${topic.user.username==session.user.username}"
                                                                class="btn-a-link"><a>Unsubscribe</a></button>
                                                    </div>
                                                    <div class="col-4 col-sm-4 col-md-5 col-lg-5 col-xl-5">
                                                        <p>Subscriptions</p>
                                                        <p th:text="${topic.subscribers.size()}">50</p>
                                                    </div>
                                                    <div class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3">
                                                        <p>Post</p>
                                                        <p th:text="${topic.resources.size()}">30</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row subscription-type">
                                        <div class="btn-group"
                                             th:unless="${topic.user.username==session.user.username}">
                                            <span th:each="subs : ${session.subscriptionDetails}">
                                                <span th:if="${subs.topic.topicId==topic.topicId}">
                                                    <span th:with="seriousness = ${subs.seriousness}">

                                                        <select type="submit" class="btn btn-secondary"
                                                                th:topic-id="${topic.topicId}"
                                                                th:classappend="newseriousness"
                                                                name="newseriousness">
                                                            <option th:selected="${seriousness==session.seriousnessTypes[1]}"
                                                                    value="SERIOUS">serious
                                                            </option>
                                                            <option th:selected="${seriousness==session.seriousnessTypes[0]}"
                                                                    value="CASUAL">casual
                                                            </option>
                                                            <option th:selected="${seriousness==session.seriousnessTypes[2]}"
                                                                    value="VERY_SERIOUS">very
                                                                serious
                                                            </option>
                                                        </select>

                                                    </span>
                                                </span>
                                            </span>
                                        </div>
                                        <div class="btn-group">
                                            <div th:if="${topic.user.username==session.user.username || session.user.admin}">
                                                <select type="button" class="btn btn-secondary"
                                                        th:topic-id="${topic.topicId}"
                                                        th:id="subsvisibility+${topic.topicId}"
                                                        th:classappend="newvisibility"><!--th:id="visibility+${i}"-->
                                                    <option th:selected="${topic.visibilty==topic.visibilty.PRIVATE}"
                                                            value="PRIVATE">
                                                        Private
                                                    </option>
                                                    <option th:selected="${topic.visibilty==topic.visibilty.PUBLIC}"
                                                            value="PUBLIC">
                                                        Public
                                                    </option>
                                                </select>
                                            </div>
                                            <div th:unless="${topic.user.username==session.user.username || session.user.admin}">
                                                <span class="btn btn-secondary" th:text="${topic.visibilty}"></span>
                                            </div>
                                        </div>
                                        <span th:if="${topic.visibilty==topic.visibilty.PRIVATE}">
                                            <a href="#"
                                                data-toggle="modal" data-target="#myModal2" title="SendInvitation" class="fa fa-envelope-o"
                                               th:value="${topic.topicId}" id="SendInvitation"
                                               style="font-size: 1.5rem">
                                            </a>
                                        </span>
                                        <span th:if="${topic.user.userId==session.user.userId || session.user.admin}">
                                <a th:href="@{/deleteTopic/{id}(id=${topic.topicId})}"><i class="fa fa-trash"
                                                                                          style="font-size: 1.5rem"></i></a>
                                <span th:topic-id-attr1="${topic.getTopicId()}" th:class="edit-topic-name"><i
                                        class="fa fa-pencil-square-o" aria-hidden="true"
                                        style="font-size: 1.5rem"></i></span>
                                    </span>
                                    </div>
                                </form>
<!--
                                <input type="text" name="topicId" style="display: none" form="invite" th:value="${topic.topicId}" />
-->

                            </div>
                            <br>
                            <br>
                            <hr>
                        </div>
                    </div>


                </div>

                <!--------------------------------Trending topics--------------------------------------------------->

                <div id="dashboard-trending-topics-div">
                    <div class="card border-primary mb-3">
                        <h5 class="card-header" id="card-header-dashboard-trending-topics">Trending Topics</h5>
                        <div class="container-fluid dashboard-trending-topics-card"
                             th:each="topic,i:${session.trendingTopics}">
                            <div>
                                <form method="post" action="/changeSubscription">

                                    <input th:name="topicId" th:value="${topic.topicId}" style="display: none"/>
                                    <div class="row card-body">
                                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 user-img-div">
                                            <a th:href="@{/userProfile/{userId}(userId=${topic.user.userId})}">
                                                <img class="user-img" th:src="@{${topic.user.photo}}">
                                            </a>
                                        </div>
                                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                            <!--<span class="card-title"><a href="#" th:class="'old-topic'+${topic.topicId}" th:text="${topic.topicName}">Grails</a></span>-->
                                            <div class="old-topic-name"
                                                 th:classappend="'old-topic-name'+${topic.topicId}"><a
                                                    th:href="@{/topicPage/{id}(id=${topic.topicId})}"
                                                    th:class="'old-topic'+${topic.topicId}"
                                                    th:text="${topic.topicName}">Grails</a></div>
                                            <div class="new-topic-name"
                                                 th:classappend="'new-topic-name'+${topic.topicId}"
                                                 style="display: none">
                                                <div class="form-inline my-2 my-lg-0">
                                                    <input class="new-topic-name-text form-control mr-sm-2" type="text"
                                                           th:placeholder="${topic.topicName}">
                                                    <div th:class="newtname-msg"></div>
                                                    <button th:topic-id-attr="${topic.getTopicId()}"
                                                            class="save-new-topic-name btn btn-primary my-2 my-sm-0"
                                                            type="button">Save
                                                    </button>
                                                    <button type="button"
                                                            class="close-topic-edit btn btn-primary my-2 my-sm-0">Close
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                    <p th:text="'@'+${topic.user.username}">@username</p>
                                                    <div th:unless="${topic.user.username==session.user.username}"
                                                         th:with="topicId = ${topic.topicId}">
                                                        <p th:if="${topic.subscribers.contains(session.user)}">
                                                            <button type="submit" name="btn" value="unsubscribe"
                                                                    class="btn-a-link"><a>Unsubscribe</a></button>
                                                        </p>
                                                        <p th:unless="${topic.subscribers.contains(session.user)}">
                                                            <button type="submit" name="btn" value="subscribe"
                                                                    class="btn-a-link"><a>Subscribe</a></button>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-4 col-sm-4 col-md-5 col-lg-5 col-xl-5">
                                                    <p>Subscriptions</p>
                                                    <p th:text="${topic.subscribers.size()}">50</p>
                                                </div>
                                                <div class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3">
                                                    <p>Post</p>
                                                    <p th:text="${topic.resources.size()}">30</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row topic-type" id="dashboard-trending-topic-subscription-type">
                                        <div th:if="${topic.subscribers.contains(session.user)}">
                                            <div class="btn-group"
                                                 th:unless="${topic.user.username==session.user.username}">
                                            <span th:each="subs : ${session.subscriptionDetails}">
                                                <span th:if="${subs.topic.topicId==topic.topicId}">
                                                    <span th:with="seriousness = ${subs.seriousness}">

                                                        <select type="submit" class="btn btn-secondary"
                                                                th:topic-id="${topic.topicId}"
                                                                th:classappend="newseriousness" name="newseriousness">
                                                            <option th:selected="${seriousness==session.seriousnessTypes[1]}"
                                                                    value="SERIOUS">serious
                                                            </option>
                                                            <option th:selected="${seriousness==session.seriousnessTypes[0]}"
                                                                    value="CASUAL">casual
                                                            </option>
                                                            <option th:selected="${seriousness==session.seriousnessTypes[2]}"
                                                                    value="VERY_SERIOUS">very
                                                                serious
                                                            </option>
                                                        </select>

                                                    </span>
                                                </span>
                                            </span>
                                            </div>
                                        </div>
                                        <div th:unless="${topic.subscribers.contains(session.user)}">
                                            <div class="btn-group">
                                                <select th:unless="${topic.user.username==session.user.username}"
                                                        type="button" class="btn btn-secondary" th:name="newseriousness"
                                                        th:placeholder="seriousness" required>
                                                    <option value="SERIOUS">serious</option>
                                                    <option value="CASUAL">casual</option>
                                                    <option value="VERY_SERIOUS">very serious</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="btn-group">
                                            <div th:if="${topic.user.username==session.user.username ||session.user.admin}">
                                                <select type="button" class="btn btn-secondary"
                                                        th:topic-id="${topic.topicId}"
                                                        th:id="trendsvisibility+${topic.topicId}"
                                                        th:classappend="newvisibility">
                                                    <option th:selected="${topic.visibilty==topic.visibilty.PRIVATE}"
                                                            value="PRIVATE">
                                                        Private
                                                    </option>
                                                    <option th:selected="${topic.visibilty==topic.visibilty.PUBLIC}"
                                                            value="PUBLIC">
                                                        Public
                                                    </option>
                                                </select>
                                            </div>
                                            <div th:unless="${topic.user.username==session.user.username || session.user.admin}">
                                                <span class="btn btn-secondary" th:text="${topic.visibilty}"></span>
                                            </div>
                                        </div>
                                        <span th:if="${topic.visibilty==topic.visibilty.PRIVATE}"><a href="#"><i
                                                class="fa fa-envelope-o" th:id="trendsvisibility+${topic.topicId}"
                                                style="font-size: 1.5rem"></i></a></span>
                                        <span th:if="${topic.user.userId==session.user.userId || session.user.admin}">
                                             <a th:href="@{/deleteTopic/{id}(id=${topic.topicId})}"><i
                                                     class="fa fa-trash" style="font-size: 1.5rem"></i></a>
                                             <span th:topic-id-attr1="${topic.getTopicId()}" th:class="edit-topic-name"><i
                                                     class="fa fa-pencil-square-o" aria-hidden="true"
                                                     style="font-size: 1.5rem"></i></span>
                                    </span>
                                    </div>
                                </form>
                            </div>

                            <br>
                            <br>
                            <hr>
                        </div>
                    </div>
                </div>

            </div>
            <!------------------------------------Inbox---------------------------------------------->
            <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7">

                <div class="card border-primary mb-3">
                    <h5 class="card-header" id="card-header-dashboard">Inbox</h5>
                    <div class="card border-primary mb-3">
                        <div class="container-fluid" th:each="unreadResourceStatus : ${resourcesSubscribed}">
                            <div class="row card-body post-card-body">
                                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 user-img-div">
                                    <a th:href="@{/userProfile/{userid}(userid=${unreadResourceStatus.resource.user.userId})}">
                                    <img th:src="@{${unreadResourceStatus.resource.user.photo}}" class="user-img">
                                    </a>
                                </div>
                                <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                                            <div><h5 th:text="${unreadResourceStatus.resource.user.username}">Username</h5></div>
<!--
                                            <div th:text="'@'+${unreadResourceStatus.resource.user.username}">@username</div>
-->
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                            <div>
                                                <a th:href="@{topicPage/{id}(id=${unreadResourceStatus.resource.topic.topicId})}" th:text="${unreadResourceStatus.resource.topic.topicName}">Topic name</a>
                                            </div>
                                            <div th:text="${unreadResourceStatus.resource.topic.createdAt}">Date and Time of Post</div>
                                        </div>

                                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" style="margin-top: 10px;">
                                        <p class="card-text" th:text="${unreadResourceStatus.resource.description}">With supporting text below as a natural
                                            lead-in to additional
                                            content.With supporting text below as a natural lead-in to additional
                                            content.With supporting text below as a natural lead-in to additional
                                            content.With supporting text below as a natural lead-in to additional
                                            content.With supporting text below as a natural lead-in to additional
                                            content.</p></div>
                                    </div>



                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 social-links">
                                    <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a>
                                </div>
                                <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 posts-options">

                                    <a th:if="${unreadResourceStatus.resource.user.userId==session.user.userId || session.user.admin}" th:href="@{/deleteResource/{id}(id=${unreadResourceStatus.resource.resourceId})}">Delete</a>

                                    <a th:if="${unreadResourceStatus.resource.resourceType.name()=='DOCUMENT'}" th:href="${unreadResourceStatus.resource.urlPath}">Download</a>
                                    <a th:if="${unreadResourceStatus.resource.resourceType.name()=='LINK'}" th:href="${unreadResourceStatus.resource.urlPath}"
                                       TARGET="_blank">View Full Site</a>

                                    <a th:href="@{/markAsRead/{userId}/{resourceId}(userId=${session.user.userId},resourceId=${unreadResourceStatus.resource.resourceId})}">Mark as Read</a>
                                    <a th:href="@{/postRating/{id}(id=${unreadResourceStatus.resource.resourceId})}">View Post</a>
                                </div>
                            </div>
                            <br>
                        </div>
                       <!-- <div>
                            <ul class="pagination pagination-sm">
                                <li class="page-item" th:each="i:${#numbers.sequence(1,session.resourcePage)}">
                                    <a th:text="${i}" th:href="@{/post(page=${i})}" class="page-link">a</a>
                                </li>
                            </ul>
                        </div>-->
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-----------------------------------FOOTER----------------------------------------->

    <div class="row footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 navbar navbar-dark bg-primary">
                    <div class="copyright">
                        <p>© 2019 Copyright:
                            <a href="#"> TTN.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:unless="${session.user!=null}">
    <script th:inline="javascript">
        window.location.href = "/";
    </script>
</div>

</body>
</html>
<!--
<script>
    function SetTopicId(a) {
        //var id = document.getElementById("SendInvitation").value;
        alert(a.value);
        document.getElementById("hiddenTopicId").value = parseInt(a.value);

    }
</script>-->
