<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script th:src="@{/js/editTopicName.js}"></script>
    <script th:src="@{/js/changeSeriousness.js}"></script>
    <script th:src="@{/js/changeVisibilityFromUserProfile.js}"></script>
    <link th:href="@{/css/bootswatch.css}" rel="stylesheet">
    <link th:href="@{/css/userprofile.css}" rel="stylesheet">
    <link th:href="@{/css/topicpage.css}" rel="stylesheet">
    <link rel="icon" href="/images/icon.ico" type="image/png" sizes="16x16">

    <title>User Profile</title>
</head>
<body>

<!-- -----------------------------------NAV---------------------------------- -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary" id="my-nav-bar">
    <a class="navbar-brand" href="/dashboard">Link Sharing</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <form class="form-inline my-2 my-lg-0" id="search-part" action="/searchTopic" method="post">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" id="search-topic-resource"
                   name="topic">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 xol-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true"
                               aria-expanded="false"><img th:src="@{${session.user.photo}}" class="rounded-circle"
                                                          style="height: 20px;width: 20px;">
                                <span th:text="${session.user.username}"></span></a>
                            <div class="dropdown-menu" x-placement="bottom-start"
                                 style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 39px, 0px);">
                                <a class="dropdown-item" href="/editProfile">edit profile</a>
                                <div th:if="${session.user.isAdmin()}">
                                    <a class="dropdown-item" href="/userList">users</a>
                                </div>
                                <a class="dropdown-item" href="/logout">logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>

<br>
<!-- -----------------------------------BODY--------------------------------- -->

<div class="container-fluid" id="userprofile-main-div">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5">

            <div class="card border-primary mb-3">
                <div class="container-fluid userprofile-summary-card">
                    <div class="row userprofile-summary-div-body card-body">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 user-img-div">
                            <img th:src="@{${user.photo}}" class="user-img">
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <h4 class="card-title"><span th:text="${user.username}"></span></h4>
                            @<span th:text="${user.username}"></span>
                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    Subscriptions
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    Topics
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <span th:text="${topicSubscribedCount}"></span>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <span th:text="${topicsCreatedCount}"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!---------------------------------------------------------------------------------------------->

            <div id="dashboard-trending-topics-div">
                <div class="card border-primary mb-3">
                    <h5 class="card-header" id="card-header-dashboard-trending-topics">Topics</h5>
                    <div class="container-fluid dashboard-trending-topics-card"
                         th:each="topic,i:${createdTopics}">
                        <div>
                            <form method="post" action="/changeSubscription">

                                <input th:name="topicId" th:value="${topic.topicId}" style="display: none"/>
                                <div class="row card-body">
                                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 user-img-div">
                                        <a th:href="@{/userProfile/{userId}(userId=${topic.user.userId})}">
                                            <img class="user-img" th:src="@{${topic.user.photo}}">
                                        </a>
                                    </div>
                                    <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                        <!--<span class="card-title"><a href="#" th:class="'old-topic'+${topic.topicId}" th:text="${topic.topicName}">Grails</a></span>-->
                                        <div class="old-topic-name"
                                             th:classappend="'old-topic-name'+${topic.topicId}"><a
                                                th:href="@{/topicPage/{id}(id=${topic.topicId})}"
                                                th:class="'old-topic'+${topic.topicId}"
                                                th:text="${topic.topicName}">Grails</a></div>
                                        <div class="new-topic-name"
                                             th:classappend="'new-topic-name'+${topic.topicId}"
                                             style="display: none">
                                            <div class="form-inline my-2 my-lg-0">
                                                <input class="new-topic-name-text form-control mr-sm-2" type="text"
                                                       th:placeholder="${topic.topicName}">
                                                <div th:class="newtname-msg"></div>
                                                <button th:topic-id-attr="${topic.getTopicId()}"
                                                        class="save-new-topic-name btn btn-primary my-2 my-sm-0"
                                                        type="button">Save
                                                </button>
                                                <button type="button"
                                                        class="close-topic-edit btn btn-primary my-2 my-sm-0">Close
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                <p th:text="'@'+${topic.user.username}">@username</p>
                                                <div th:unless="${topic.user.username==session.user.username}"
                                                     th:with="topicId = ${topic.topicId}">
                                                    <p th:if="${topic.subscribers.contains(session.user.username)}">
                                                        <button type="submit" name="btn" value="unsubscribe"
                                                                class="btn-a-link"><a>Unsubscribe</a></button>
                                                    </p>
                                                    <p th:unless="${topic.subscribers.contains(session.user.username)}">
                                                        <button type="submit" name="btn" value="subscribe"
                                                                class="btn-a-link"><a>Subscribe</a></button>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-4 col-sm-4 col-md-5 col-lg-5 col-xl-5">
                                                <p>Subscriptions</p>
                                                <p th:text="${topic.subscribers.size()}">50</p>
                                            </div>
                                            <div class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3">
                                                <p>Post</p>
                                                <p th:text="${topic.resources.size()}">30</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row subscription-type" id="dashboard-trending-topic-subscription-type">
                                    <div th:if="${topic.subscribers.contains(session.user.userId)}">
                                        <div class="btn-group"
                                             th:unless="${topic.user.username==session.user.username}">
                                            <span th:each="subs : ${session.subscriptionDetails}">
                                                <span th:if="${subs.topic.topicId==topic.topicId}">
                                                    <span th:with="seriousness = ${subs.seriousness}">

                                                        <select type="submit" class="btn btn-secondary"
                                                                th:topic-id="${topic.topicId}"
                                                                th:classappend="newseriousness" name="newseriousness">
                                                            <option th:selected="${seriousness==session.seriousnessTypes[1]}"
                                                                    value="SERIOUS">serious
                                                            </option>
                                                            <option th:selected="${seriousness==session.seriousnessTypes[0]}"
                                                                    value="CASUAL">casual
                                                            </option>
                                                            <option th:selected="${seriousness==session.seriousnessTypes[2]}"
                                                                    value="VERY_SERIOUS">very
                                                                serious
                                                            </option>
                                                        </select>

                                                    </span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div th:unless="${topic.subscribers.contains(session.user.userId)}">
                                        <div class="btn-group">
                                            <select th:unless="${topic.user.username==session.user.username}"
                                                    type="button" class="btn btn-secondary" th:name="newseriousness"
                                                    th:placeholder="seriousness" required>
                                                <option value="SERIOUS">serious</option>
                                                <option value="CASUAL">casual</option>
                                                <option value="VERY_SERIOUS">very serious</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="btn-group">
                                        <div th:if="${topic.user.username==session.user.username ||session.user.admin}">
                                            <select type="button" class="btn btn-secondary"
                                                    th:topic-id="${topic.topicId}"
                                                    th:id="trendsvisibility+${topic.topicId}"
                                                    th:classappend="newvisibility">
                                                <option th:selected="${topic.visibilty==topic.visibilty.PRIVATE}"
                                                        value="PRIVATE">
                                                    Private
                                                </option>
                                                <option th:selected="${topic.visibilty==topic.visibilty.PUBLIC}"
                                                        value="PUBLIC">
                                                    Public
                                                </option>
                                            </select>
                                        </div>
                                        <div th:unless="${topic.user.username==session.user.username || session.user.admin}">
                                            <span class="btn btn-secondary" th:text="${topic.visibilty}"></span>
                                        </div>
                                    </div>
                                    <span th:if="${topic.visibilty==topic.visibilty.PRIVATE}"><a href="#"><i
                                            class="fa fa-envelope-o" th:id="trendsvisibility+${topic.topicId}"
                                            style="font-size: 1.5rem"></i></a></span>
                                    <span th:if="${topic.user.userId==session.user.userId || session.user.admin}">
                                             <a th:href="@{/deleteTopic/{id}(id=${topic.topicId})}"><i
                                                     class="fa fa-trash" style="font-size: 1.5rem"></i></a>
                                             <span th:topic-id-attr1="${topic.getTopicId()}" th:class="edit-topic-name"><i
                                                     class="fa fa-pencil-square-o" aria-hidden="true"
                                                     style="font-size: 1.5rem"></i></span>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <br>
                        <br>
                        <hr>
                    </div>
                </div>
            </div>

            <!---------------------------------------------------------------------------------------------->

            <div id="subscriptions-div">
                <div class="container-fluid card border-primary mb-3">
                    <div class="row card-header" id="card-header-subscriptions">
                        <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                            <h5>Subscriptions</h5>
                        </div>
                        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                            <a href="#">View All</a>
                        </div>
                    </div>
                    <br>
                    <div th:each="topic,i : ${topicSubscribed}">
                        <div>
                            <form th:action="@{/unsubscribeFromSubscribedTopics}">
                                <input id="topicId" th:name="topicId" th:value="${topic.topicId}"
                                       style="display: none"/>
                                <div class="subscriptions-card" th:id="${topic.topicId}">
                                    <div class="row subscriptions-div-body card-body">
                                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 user-img-div">
                                            <a th:href="@{/userProfile/{userId}(userId=${topic.user.userId})}">
                                            <img th:src="@{${topic.user.photo}}" class="user-img">
                                            </a>
                                        </div>
                                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                            <div class="old-topic-name"
                                                 th:classappend="'old-topic-name'+${topic.topicId}"><a
                                                    th:href="@{topicPage/{id}(id=${topic.topicId})}"
                                                    th:class="'old-topic'+${topic.topicId}"
                                                    th:text="${topic.topicName}">Grails</a></div>
                                            <div class="new-topic-name"
                                                 th:classappend="'new-topic-name'+${topic.topicId}"
                                                 style="display: none">
                                                <div class="form-inline my-2 my-lg-0">
                                                    <input class="new-topic-name-text form-control mr-sm-2"
                                                           type="text" th:placeholder="${topic.topicName}">
                                                    <div th:class="newtname-msg"></div>
                                                    <button th:topic-id-attr="${topic.getTopicId()}"
                                                            class="save-new-topic-name btn btn-primary my-2 my-sm-0"
                                                            type="button">Save
                                                    </button>
                                                    <button type="button"
                                                            class="close-topic-edit btn btn-primary my-2 my-sm-0">
                                                        Close
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                                    <p th:text="${topic.user.username}">@username</p>
                                                    <button th:unless="${topic.user.username==session.user.username}"
                                                            class="btn-a-link"><a>Unsubscribe</a></button>
                                                </div>
                                                <div class="col-4 col-sm-4 col-md-5 col-lg-5 col-xl-5">
                                                    <p>Subscriptions</p>
                                                    <p th:text="${topic.subscribers.size()}">50</p>
                                                </div>
                                                <div class="col-4 col-sm-4 col-md-3 col-lg-3 col-xl-3">
                                                    <p>Post</p>
                                                    <p th:text="${topic.resources.size()}">30</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row subscription-type">
                                    <div class="btn-group"
                                         th:unless="${topic.user.username==session.user.username}">
                                            <span th:each="subs : ${session.subscriptionDetails}">
                                                <span th:if="${subs.topic.topicId==topic.topicId}">
                                                    <span th:with="seriousness = ${subs.seriousness}">

                                                        <select type="submit" class="btn btn-secondary"
                                                                th:topic-id="${topic.topicId}"
                                                                th:classappend="newseriousness"
                                                                name="newseriousness">
                                                            <option th:selected="${seriousness==session.seriousnessTypes[1]}"
                                                                    value="SERIOUS">serious
                                                            </option>
                                                            <option th:selected="${seriousness==session.seriousnessTypes[0]}"
                                                                    value="CASUAL">casual
                                                            </option>
                                                            <option th:selected="${seriousness==session.seriousnessTypes[2]}"
                                                                    value="VERY_SERIOUS">very
                                                                serious
                                                            </option>
                                                        </select>

                                                    </span>
                                                </span>
                                            </span>
                                    </div>
                                    <div class="btn-group">
                                        <div th:if="${topic.user.username==session.user.username || session.user.admin}">
                                            <select type="button" class="btn btn-secondary"
                                                    th:topic-id="${topic.topicId}"
                                                    th:id="subsvisibility+${topic.topicId}"
                                                    th:classappend="newvisibility"><!--th:id="visibility+${i}"-->
                                                <option th:selected="${topic.visibilty==topic.visibilty.PRIVATE}"
                                                        value="PRIVATE">
                                                    Private
                                                </option>
                                                <option th:selected="${topic.visibilty==topic.visibilty.PUBLIC}"
                                                        value="PUBLIC">
                                                    Public
                                                </option>
                                            </select>
                                        </div>
                                        <div th:unless="${topic.user.username==session.user.username || session.user.admin}">
                                            <span class="btn btn-secondary" th:text="${topic.visibilty}"></span>
                                        </div>
                                    </div>
                                    <span th:if="${topic.visibilty==topic.visibilty.PRIVATE}"><a href="#"><i
                                            class="fa fa-envelope-o" th:id="subinvite+${topic.topicId}"
                                            style="font-size: 1.5rem"></i></a></span>
                                    <span th:if="${topic.user.userId==session.user.userId || session.user.admin}">
                                <a th:href="@{/deleteTopic/{id}(id=${topic.topicId})}"><i class="fa fa-trash"
                                                                                          style="font-size: 1.5rem"></i></a>
                                <span th:topic-id-attr1="${topic.getTopicId()}" th:class="edit-topic-name"><i
                                        class="fa fa-pencil-square-o" aria-hidden="true"
                                        style="font-size: 1.5rem"></i></span>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <br>
                        <br>
                        <hr>
                    </div>
                </div>


            </div>

        </div>

        <!------------------------------------------------------------------------------------------->

        <div class="col-12 col-sm-12 col-md-6 col-lg-7 col-xl-7">

            <div id="userprofile-posts-div">
                <div class="card border-primary mb-3">
                    <div class="card-header">
                        <b>Posts</b>
                        <form class="form-inline my-2 my-lg-0 userprofile-posts-search">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search">
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                        </form>
                    </div>
                    <div class="container-fluid userprofile-posts-card">
                        <div class="userprofile-posts-div-body card-body">
                            <div th:each=" resource : ${resourcesCreated}"
                                 class="old-div mysearchedresources container-fluid topicpage-posts-card search-resource-from-topic">
                                <div class="row topicpage-posts-div-body card-body">
                                    <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 user-img-div">
                                        <a th:href="@{/userProfile/{userId}(userId=${resource.user.userId})}">
                                        <img th:src="${resource.user.photo}" class="user-img">
                                        </a>
                                    </div>
                                    <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
                                                <div><h5 th:text="${resource.user.username}">Username</h5></div>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                                <div><a th:href="@{topicPage/{id}(id=${resource.topic.topicId})}" th:text="${resource.topic.topicName}">Topic name</a>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="card-text" th:text="${resource.description}">With supporting text
                                            below as
                                            a
                                            natural lead-in to additional
                                            content.With supporting text below as a natural lead-in to additional
                                            content.With supporting text below as a natural lead-in to additional
                                            content.With supporting text below as a natural lead-in to additional
                                            content.</p>
                                        <div class="row">
                                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 social-links">
                                                <a href="#"><i class="fa fa-facebook-official"
                                                               aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                                <a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 topics-posts-options">
                                                <a th:if="${resource.resourceType.name()=='DOCUMENT'}"
                                                   th:href="${resource.urlPath}">Download</a>
                                                <a th:if="${resource.resourceType.name()=='LINK'}"
                                                   th:href="${resource.urlPath}"
                                                   TARGET="_blank">View Full Site</a>
<!--
                                                <a href="#">Mark as Read</a>
-->
                                                <a th:href="@{/postRating/{id}(id=${resource.resourceId})}">View Post</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <hr>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<!-- ----------------------------------FOOTER-------------------------------- -->
<div class="row footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 navbar navbar-dark bg-primary">
                <div class="copyright">
                    <p>© 2019 Copyright:
                        <a href="#"> TTN.com</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>